{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Focus Admin: Widget</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-form">
                            <h4>Mudar senha</h4>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <p>Informe sua senha antiga por favor, por motivos de segurança, e então informe sua nova senha duas vezes para que possamos verificar se você digitou tudo corretamente.</p>
                                    <label for="id_old_password">Senha antiga:</label>
                                    <input type="password" class="form-control" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                                </div>
                                <div class="form-group">
                                    <label for="id_new_password1">Nova senha:</label> 
                                    <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                                    <div class="help"><ul><li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li><li>Sua senha precisa conter pelo menos 8 caracteres.</li><li>Sua senha não pode ser uma senha comumente utilizada.</li><li>Sua senha não pode ser inteiramente numérica.</li></ul></div>
                                </div>
                                <div class="form-group">
                                    <label for="id_new_password2">Confirmação da nova senha:</label> 
                                    <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                                </div>
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Confirmar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>